.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 24px
}

.header-links ul {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 30px
}

.header-links ul li a {
    @icl
}

.header-btn {
    display: flex;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
    gap: 24px
}