.header {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0;
    }

    &-links {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            align-items: center;
            margin: auto;

            li {
                a {
                    @include headline();
                    color: var(--text);
                    margin-right: 24px;
                }
            }
        }
    }

    &-btn {
        display: flex;
        cursor: pointer;
        

        &-in {
            border: 1px solid #BCD0E5;
            padding: 0 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--link-color);
            border-radius: 4px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-right: 24px;
        }

        &-up {
            padding: 0 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--btn);
            border-radius: 4px;
            color: var(--btn-text);
            margin-right: 24px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    }
    ul{
        position: relative;
        right: 0;
        .dark_mode{
            // position: absolute;
            // right: 0.0px;
            // top: 0.1px;
            display: none;
        }
    }
    
}