@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Bold.ttf,);
    
}
@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-SemiBold.ttf);
}
